<div class="text-center">
    <h2>{{title}}</h2>
    <p class="small">Created by {{user.username}} on {{format_date createdAt}}</p>
    <p>{{text}}</p>
    <button class="btn btn-primary">Leave a comment!</button>
</div>
<div>
    {{#each comments as |comment| }}
        {{> comment-details}}
    {{/each}}
</div>
        
