header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.small {
    font-size: small;
}

.post-card {
    margin: 10px;
    border: solid black 1px;
    border-radius: 0.35rem;
    padding-left: 10px;
    box-shadow: 10px 5px 5px #ccc;
}

.btn {
    cursor: pointer;
}

.edit-btn {
    height: fit-content;
    margin: 5px;
    background-color: #5bc0de;
}

.editor-container {
    border: solid black 1px;
    border-radius: .35rem;
    height: fit-content;
    box-shadow: 10px 5px 5px #ccc;
}

.form-textarea {
    width: 100%;
    min-height: 8rem;
}

.message-type {
    color: blue;
}

.editor-button-group button {
    margin-right: 10px;
}

.submit-edit-btn {
    background-color: #eaaa00;
    margin-right: 10px;
}

.cancel-btn {
    background-color: white;
    border: solid gray 1px;
    color: red;
    margin-right: 10px;
}

.delete-btn {
    background-color: red;
    color: white;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
