header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.small {
    font-size: small;
}

.post-card {
    margin: 10px;
    border: solid black 1px;
    border-radius: 0.35rem;
    padding: 10px;
    box-shadow: 10px 5px 5px #ccc;
}

.dash-post-card {
    padding-left: 10px;
}

.home-post-card {
    width: 300px;
    height: 300px;
    position: relative;
}

.to-bottom {
    position: absolute;
    bottom: 0px;
}

.post-card article {
    border-top: solid #5bc0de 1px;
}

.btn {
    cursor: pointer;
}

.edit-btn {
    height: fit-content;
    margin: 5px;
    background-color: #5bc0de;
}

.editor-container {
    margin-top: 10px;
    border: solid black 1px;
    border-radius: .35rem;
    height: fit-content;
    box-shadow: 10px 5px 5px #ccc;
    padding-left: 15px;
    padding-right: 15px;
}

.form-textarea {
    width: 100%;
    min-height: 8rem;
}

.message-type {
    color: blue;
}

.editor-button-group button {
    margin-right: 10px;
}

.submit-edit-btn {
    background-color: #eaaa00;
    margin-right: 10px;
}

.cancel-btn {
    background-color: white;
    border: solid gray 1px;
    color: red;
    margin-right: 10px;
}

.delete-btn {
    background-color: red;
    color: white;
}

.display-post {
    position: relative;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.display-post article {
    border-top: solid #5bc0de 1px;
}

.small-comment {
    margin-bottom: 0px;
}

.comment-btn-group {
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    box-shadow: 1px 1px 1px 1px #ddd inset;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .display-post {
        width: 50%;
    }

    .login-form, .signup-form {
        width: 80%;
    }
}